<phpunit>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <bootstrap>vendor/autoload.php</bootstrap>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>./tests/Integration</directory>
        </testsuite>
        <testsuite name="DAO Tests">
            <directory>./tests/Unit/DAO</directory>
        </testsuite>
        <testsuite name="TDD Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="tests/coverage"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
</phpunit>